<div class="cover{{#if @site.cover_image}} image-loading{{/if}}">
    {{#if @site.cover_image}}
        <img class="cover-image u-object-fit" src="{{@site.cover_image}}" alt="{{@site.title}}">
    {{/if}}

    <div class="cover-content container">
        <div class="cover-description">AI-Powered Creative Solutions</div>
        <div class="cover-description2">창의적인 인공지능 솔루션을 만듭니다</div>
    </div>

    <button class="button-icon cover-arrow">
        {{> icons/chevron-right}}
    </button>
</div>